<main class="flex flex-col gap-4 justify-center items-center">
  <h1>Crear Nueva Tarea</h1>
  <form
    class="flex flex-col gap-4"
    [formGroup]="taskForm()"
    (ngSubmit)="onSubmit()"
  >
    <custom-input
      [label]="'Task Name'"
      [control]="$any(taskForm().get('taskName'))"
      [type]="'text'"
      [placeHolder]="'requerimiento p...'"
      [errorMessage]="'Task Name is required'"
    />

    <custom-input
      [label]="'Limit Date'"
      [control]="$any(taskForm().get('limitDate'))"
      [type]="'date'"
      [placeHolder]="'dd/mm/aaaa'"
      [errorMessage]="'Limit Date is required'"
    />

    <section formArrayName="associatedUsers">
      <h2 class="text-center">Associated Users</h2>
      <button
        class="px-2 py-1 min-w-6 rounded-lg bg-sky-600 flex items-center justify-center gap-1 mb-6 w-full"
        type="button"
        (click)="onAddUser()"
      >
        <i class="fa-solid fa-user-plus text-xs"></i>
        Add user
      </button>

      @for(associatedUser of getAssociatedUsersControl().controls; track $index;
      let indx = $index ){
      <article
        [formGroupName]="indx"
        class="border border-sky-100 rounded-lg p-4 mb-4"
      >
        <custom-input
          [label]="'Username'"
          [control]="$any(associatedUser.get('username'))"
          [type]="'text'"
          [placeHolder]="'Pepito Perez Velaio'"
          [errorMessage]="'Username is required'"
        />

        <custom-input
          [label]="'Age'"
          [control]="$any(associatedUser.get('age'))"
          [type]="'number'"
          [placeHolder]="'29'"
          [errorMessage]="'Age is required'"
        />

        <button
          class="bg-sky-600 px-2 py-1 min-w-6 rounded-lg mt-4 mb-2 w-full text-center"
          (click)="onAddSkill(indx)"
        >
          <i class="fa-solid fa-plus"></i> Add Skill
        </button>

        @for(skill of $any(associatedUser.get('skills')).controls; track $index
        * 100; let jIndx = $index){
        <div class="flex items-end justify-between gap-1">
          <custom-input
            [label]="'Skill: ' + (jIndx + 1)"
            [control]="skill"
            [type]="'text'"
            [placeHolder]="'Excelente dev Frontend'"
            [errorMessage]="'skill is required'"
          />
          @if(getSkillsOfAssociatedUser(indx).length > 1 ){
          <button
            class="bg-red-500 px-2 py-1 min-w-6 rounded-lg h-full"
            (click)="onDeleteSkill(indx, jIndx)"
          >
            <i class="fa-solid fa-trash-can"></i>
          </button>
          }
        </div>

        }
      </article>
      @if(getAssociatedUsersControl().length > 1){
      <button
        class="px-2 py-1 min-w-6 rounded-lg bg-red-500 flex items-center justify-center gap-1 mb-6 w-full"
        type="button"
        (click)="onDeleteUser(indx)"
      >
        <i class="fa-solid fa-user-plus text-xs"></i>
        Delete user
      </button>
      } }
    </section>

    @if(validateWarningMessage()){
    <span
      class="w-full bg-yellow-500 text-black px-2 py-1 rounded-lg text-center font-bold"
      >{{ validateWarningMessage() }}</span
    >
    }

    <button
      class="px-2 py-1 min-w-6 rounded-lg"
      [ngClass]="{
        'bg-sky-600 ': taskForm().valid,
        'bg-gray-400 ': !taskForm().valid
      }"
      type="submit"
      [disabled]="!taskForm().valid"
    >
      Save Task
    </button>
  </form>
  @if(successfulSaveMessage()){
  <span
    class="w-full bg-green-600 text-white px-2 py-1 rounded-lg text-center"
    >{{ successfulSaveMessage() }}</span
  >
  }
</main>
